/*  your css code here. If applicable */
body {
  font-family: sans-serif;
}

#grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.grid-item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

#block_id {
  width: 100px;
}

#colour_id {
  width: 100px;
}

#change_button {
  width: 100px;
  background-color: blue;
  color: white;
}

#reset {
  width: 100px;
  background-color: red;
  color: white;
}
